<mapper namespace="com.example.xqm.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.example.xqm.dto.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, userName, passWord, user_sex, nick_name
    </sql>

    <select id="getUser" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select
		  name,password 
		FROM
		  users 
		where
       where name = {#name}
       and password = {#password}
    </select>

    
</mapper>